# Python
__pycache__/
*.py[cod]

# Environments
.venv/
.env

# Streamlit
.streamlit/

# Distribution
build/
dist/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Logs
*.log
